---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Porfolio Fran" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com"></link>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
		<script type="text/javascript"> emailjs.init('-Klfv3U8tsRtZ3kaH') </script>
	</head>
	<body>
		<slot />
		<script src="../scripts/base.js"></script>
		<script src="../scripts/language.js"></script>
	</body>
</html>
<style is:global>

	:root {
		--background-color: #151515; 
		--background-color-shadow: #00000088; 
		--text-color: #ffffff;
		--header-color: #111111bb; 
		--header-color-mobile: #111111; 
		--card-color: #1a1a1a;
		--contact-form-color: #212121; 
		--contact-form-button-color: #313131;
		--special-border-color: #929292;
		--buttons-sidebar-color: #191b1e5d;
		--project-card-color1: #393b3f;
		--project-card-color2: #191b1ea3;
		--blue-titles-color: #7970e0;
		--blue-card-color-semitransparent: #00000092;
		--blue-card-career-color: #7ebafb;
		--purple-card-career-color:rgb(147, 126, 251);

		--text-color-p: #ddd;
		--transparent-color: rgba(0, 0, 0, 0);

		--background-color-light: #ebebeb; 
		--text-color-p-light: #585858;
		--background-color-shadow-light: #66656588; 
		--text-color-light: #000000;
		--header-color-light: #e2e1e1bb; 
		--blue-card-color-semitransparent-light: #ffffff92;
		--blue-card-career-color-light: #2f4761;
		--header-color-mobile-light: #e2e1e1; 
		--card-color-light: #d6d6d6;
		--contact-form-color-light: #e2e2e2; 
		--contact-form-button-color-light: #f8f8f8;
		--special-border-color-light: #929292;
		--buttons-sidebar-color-light: #acbace5d;
		--project-card-color1-light: #b3bac7;
		--project-card-color2-light: #bbcae0a3;
		--blue-titles-color-light: #5044d6;

	}

	[data-theme="light"] {
		--background-color: var(--background-color-light);
		--text-color: var(--text-color-light);
		--text-color-p: var(--text-color-p-light);
		--blue-card-color-semitransparent:var(--blue-card-color-semitransparent-light);
		--header-color: var(--header-color-light);
		--blue-card-career-color: var(--blue-card-career-color-light);
		--card-color: var(--card-color-light);
		--contact-form-color: var(--contact-form-color-light);
		--contact-form-button-color: var(--contact-form-button-color-light);
		--background-color-shadow: var(--background-color-shadow-light);
		--special-border-color: var(--special-border-color-light);
		--buttons-sidebar-color: var(--buttons-sidebar-color-light);
		--project-card-color1: var(--project-card-color1-light);
		--project-card-color2: var(--project-card-color2-light);
		--blue-titles-color: var(--blue-titles-color-light);
		--header-color-mobile: var(--header-color-mobile-light);

	}

	html {
		background-color: var(--background-color);
		color: var(--text-color);
		font-family: "Montserrat", sans-serif;
		scroll-behavior: smooth;
		z-index: -2;
	}


	* {
		scrollbar-width: thin; 
		scrollbar-color: #4f545c #2c2f33;
		
	}

	.section-title{
		color: var(--blue-titles-color);
		font-size: 4.5rem;
        font-weight: 800;
	}

	.section-subtitle{
		color: var(--blue-titles-color);
		margin-top: 4rem;
		font-size: 3rem;
        font-weight: 800;
	}

	@media (max-width: 768px) {
        .section-title {
            font-size: 2.5rem; 
        }
    }

</style>
